dcml_corpora/

all_subcorpora/

/.idea/misc.xml
/.idea/modules.xml
/.idea/musana.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_15_05_23,_17_37_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_15_05_23,_17_37_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_15_05_23,_17_37_[Changes]/shelved.patch
/.idea/vcs.xml
/.idea/workspace.xml
